@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 500px;
    background:url(image0.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;

  }
  .header{
  padding: 10px; 
  margin: 10px;
  text-align: center;
  background: none; 
  color: white;
  border-radius: 5px;
  border: 4px double white;
}
.header h1 {
    font-size: 20px;
    text-shadow: 0.1em 0.1em #beb5b5;
  }
.topnav{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: none;
}
 
  /* Style the links inside the navigation bar */
  .topnav a {
    background-color: rgb(211, 194, 197);
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    width: 25%;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
    margin:5px;
    border: 2px double white;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(255, 255, 255, 0.726);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgba(221, 212, 212, 0.733);
    color: white;
}
.container-1 img{
    border-radius: 5px;
    border: 2px solid white;
}
.btn1{
    background-color:rgb(211, 194, 197) ;
    border-radius: 5px;
    font-size: 12px;
    border: 2px solid white;
    font-family: sans-serif;
    color:white;
    padding: 5px 5px;
}
.btn2{
    background-color: rgb(211, 194, 197);
    border-radius: 5px;
    font-size: 12px;
    border: 2px solid white;
    font-family: sans-serif;
    color:white;
    padding: 5px 5px;
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.726);
    color: black;
}
.btn2:hover{
    background-color: rgba(255, 255, 255, 0.726);
    color: black;
}
.container-1{
    background:  rgba(255, 255, 255, 0.602);
    border: 1px double white;
    border-radius: 5px;
    padding-bottom: 10px;
    margin:10px;
}
.container-1 h1{
    color:rgb(31, 29, 29);
    text-align: center;
    font-size: 16px;
    
}
.container-1 p{
    color:rgb(31, 29, 29);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    margin: 10px;

}
.footer{
    color:white;
    background: center rgb(49, 47, 47);
    text-align: right;
    border:inset 1px white;
    padding:10px;
}
